.Menu {
  background-color: #c9720988;

  flex-direction: row;
  display: flex;
  justify-content: right;
}
.Menu ul {
  list-style-type: none;
  padding: 0;
  margin-left: 30px;
  text-align: right;
}
.Menu ul li {
  font: 600 20pt sans-serif;
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 4px solid navy;
}
.Menu ul li:hover {
  background-color: #ddd;
}
