.info {
  border: navy solid 4px;
  background-color: #fff;
  width: 100%;
  border-left: 10px solid navy;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 5vw;
  margin: 0;
}

.heading {
  color: #000080;
  font: 600 36pt Courier;
}
p {
  color: #000080;
  font: 400 20pt Courier;
}
